@font-face {
    font-family: myfont;
    src: url(/assets/fonts/WorkSans-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myfont;
    font-size: 15px;
    transition: all 0.3s ease;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light_pink: hsl(275, 100%, 97%);
    --Grayish_purple: hsl(292, 16%, 49%);
    --Dark_purple: hsl(292, 42%, 14%);

}

main {
    min-height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(/assets/images/background-pattern-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--Light_pink);
}


.container {
    width: 600px;
    min-height: 350px;
    margin-top: 50px;
    background-color: var(--White);
    border-radius: 15px;
    padding: 30px 40px;
}

span {
    font-weight: 600;
}

span:hover {
    color: var(--Grayish_purple);
    cursor: pointer;
}

.title {
    display: flex;
    align-items: center;
}

h2 {
    font-size: 36px;
    margin-left: 15px;
}

hr {
    color: var(--Light_pink);
}

.answer p {
    margin: 10px 0;
    color: rgb(168, 167, 167);
    display: none;
}

.title img {
    width: 25px;
}

.accordion {
    margin: 30px 0;
    position: relative;
}

.accordion::after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: -20px;
    background-color: var(--Light_pink);
    width: 100%;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question .minus {
    display: none;
}

.question .minus img {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 50px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width:375px) {
    main {
        background: url(/assets/images/background-pattern-mobile.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 100vh;
        background-color: var(--Light_pink);
    }

    .container {
        margin: 0;
        width: 300px;
        min-height: 150px;
    }
}